* { box-sizing: border-box; }
img { width: 100%; }

#photoGrid {
    display: flex;
}

h1 {
    color: #50E3C2;
}

.photo {
    width: 28%;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: #ebebeb;
    border: 1px solid #d0d0d0;
    text-align: center
}

.logo {
    width: 400px;
}

.header-logo {
    width: 60px;
}

img {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}
