
* { box-sizing: border-box; }
img { width: 100%; }

.welcome-header-color {
    color: #50E3C2;
}

.logo {
    width: 400px;
}

.header-logo {
    width: 60px;
}

// *****************Styles from Mockup

header {
    border-bottom: 3px solid black;
    position: fixed;
    z-index: 10;
    background-color:  rgb(230, 224, 220) ;
    padding: 10px;

}

#searchBar {
    width: 40%;
}
.column {
    border: 1px solid black;
    //get spacing between columns
    border-radius: 4px;
}

.spacing{
    margin-top: 80px;
}

#chirpLogo {
    width: 20%;
    height: 20%;
}


.profilePic{
    width: 35px;
    border-radius: 4px;
}

.userPic{
    margin-top: 10px;
    width: 50px;
    border-radius: 4px;
}

.smallFont{
    font-size: 10px;
}
.chirpInput {
    overflow-wrap: break-word;
    padding: 8px;
}

.followPic {
    margin-top: -10px;
    padding-bottom: 20px;
}

#chirping {
    padding-top: 15px;

    & .background-blue {
        background: #E8F5FD;
        padding-top: 20px;
    }
}

.post-author {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.time {
    padding-left: 10px;
    font-style: italic;
}

.post-body {
    font-size: 20px;
}
