* { box-sizing: border-box; }
img { width: 100%; }

#photoGrid {
    display: flex;
}

.welcome-header-color {
    color: #50E3C2;
}

.photo {
    width: 28%;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: #ebebeb;
    border: 1px solid #d0d0d0;
    text-align: center
}

.logo {
    width: 400px;
}

.header-logo {
    width: 60px;
}

// *****************Styles from Mockup

header {
    border-bottom: 3px solid black;
    margin-top: 5px;
    position: fixed;
    z-index: 10000;
    background-color: rgb(230, 224, 220);
    padding: 10px;

}
.column {
    border: 1px solid black;
    //get spacing between columns
    border-radius: 4px;
}

.spacing{
    margin-top: 80px;
}

#chirpLogo {
    width: 20%;
    height: 20%;
}


.profilePic{
    width: 35px;
    border-radius: 4px;
}
.userPic{
    margin-top: 10px;
    width: 50px;
    border-radius: 4px;
}

.smallFont{
    font-size: 10px;
}
.chirpInput {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px;
}

.followPic {
    margin-top: -10px;
    padding-bottom: 20px;
}

#chirping {
    padding-top: 15px;
}
