* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  border-bottom: 3px solid black;
  margin-top: 5px;
  position: fixed;
}

.column {
  border: 1px solid black;
  border-radius: 4px;
}

.col-xs-6 {
  padding-left: 3px;
  padding-right: 3px;
}

.spacing {
  margin: 50px;
}

#chirpLogo {
  width: 20%;
  height: 20%;
}

.profilePic {
  width: 35px;
  border-radius: 4px;
}

.userPic {
  margin-top: 10px;
  width: 50px;
  border-radius: 4px;
}

.smallFont {
  font-size: 10px;
}

.chirpInput {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px;
}
